serverless.yml
org: m4rant
service: millas-backend

provider:
  name: aws
  runtime: python3.12
  memorySize: 1024
  timeout: 29
  iam:
    role: arn:aws:iam::722204368591:role/LabRole
  environment:
    ORDERS_TABLE: ${sls:stage}-Orders
    WORKFLOW_TABLE: ${sls:stage}-Workflow
    MENU_TABLE: ${sls:stage}-Menu
    USERS_TABLE: ${sls:stage}-Users
    TENANT_ID: 200millas
    MENU_IMAGES_BUCKET: ${self:service}-${sls:stage}-menu-images
    EVENTBRIDGE_BUS: ${self:service}-${sls:stage}-event-bus
    SERVERLESS_SERVICE: ${self:service}
    SERVERLESS_STAGE: ${sls:stage}
    AWS_ACCOUNT_ID: 722204368591

# serverless-python-requirements está incluido por defecto
# Solo necesitamos la configuración custom
custom:
  pythonRequirements:
    dockerizePip: true
    layer: false

functions:
  login:
    handler: services/auth/handler.login
    events:
      - http:
          path: /auth/login
          method: post
          cors: true
          integration: lambda

  register:
    handler: services/auth/handler.register
    events:
      - http:
          path: /auth/register
          method: post
          cors: true
          integration: lambda

  authorize:
    handler: services/auth/handler.authorize

  logout:
    handler: services/auth/handler.logout
    events:
      - http:
          path: /auth/logout
          method: post
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  createOrder:
    handler: services/orders/handler.create_order
    events:
      - http:
          path: /orders
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - X-Amz-Date
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: false
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getOrders:
    handler: services/orders/handler.get_orders
    events:
      - http:
          path: /orders
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getOrder:
    handler: services/orders/handler.get_order
    events:
      - http:
          path: /orders/{order_id}
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  updateWorkflow:
    handler: services/workflow/handler.update_workflow
    events:
      - http:
          path: /workflow/{order_id}
          method: patch
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getWorkflow:
    handler: services/workflow/handler.get_workflow
    events:
      - http:
          path: /workflow/{order_id}
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getCategories:
    handler: services/menu/handler.get_categories
    events:
      - http:
          path: /menu/categories
          method: get
          cors: true
          integration: lambda

  getItems:
    handler: services/menu/handler.get_items
    events:
      - http:
          path: /menu/items
          method: get
          cors: true
          integration: lambda

  uploadMenuImage:
    handler: services/menu/upload_image.upload_image
    events:
      - http:
          path: /menu/upload-image
          method: post
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getDashboard:
    handler: services/dashboard/handler.get_dashboard
    events:
      - http:
          path: /dashboard
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getOrderTimeline:
    handler: services/dashboard/handler.get_order_timeline
    events:
      - http:
          path: /dashboard/timeline/{order_id}
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getStaffPerformance:
    handler: services/dashboard/handler.get_staff_performance
    events:
      - http:
          path: /dashboard/staff-performance
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  # Step Functions Handlers
  confirmOrder:
    handler: services/workflow/step_functions_handlers.confirm_order
    timeout: 30

  assignCook:
    handler: services/workflow/step_functions_handlers.assign_cook
    timeout: 30

  completeCooking:
    handler: services/workflow/step_functions_handlers.complete_cooking
    timeout: 30

  assignDriver:
    handler: services/workflow/step_functions_handlers.assign_driver
    timeout: 30

  completeDelivery:
    handler: services/workflow/step_functions_handlers.complete_delivery
    timeout: 30

  handleOrderFailure:
    handler: services/workflow/step_functions_handlers.handle_order_failure
    timeout: 30

  # WebSocket API para seguimiento en tiempo real
  # Nota: WebSocket requiere configuración manual adicional o plugin serverless-websocket-plugin
  # Por ahora, las funciones están listas pero el API Gateway WebSocket debe configurarse manualmente
  websocketConnect:
    handler: services/websocket/handler.connect
    timeout: 10

  websocketDisconnect:
    handler: services/websocket/handler.disconnect
    timeout: 10

  websocketDefault:
    handler: services/websocket/handler.default
    timeout: 10

resources:
  Resources:
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDERS_TABLE}
        AttributeDefinitions:
          - AttributeName: order_id
            AttributeType: S
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: created_at
            AttributeType: N
          - AttributeName: customer_id
            AttributeType: S
          - AttributeName: status
            AttributeType: S
        KeySchema:
          - AttributeName: order_id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: tenant-created-index
            KeySchema:
              - AttributeName: tenant_id
                KeyType: HASH
              - AttributeName: created_at
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: customer-orders-index
            KeySchema:
              - AttributeName: customer_id
                KeyType: HASH
              - AttributeName: created_at
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: tenant-status-index
            KeySchema:
              - AttributeName: tenant_id
                KeyType: HASH
              - AttributeName: status
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    WorkflowTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.WORKFLOW_TABLE}
        AttributeDefinitions:
          - AttributeName: order_id
            AttributeType: S
        KeySchema:
          - AttributeName: order_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    MenuTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.MENU_TABLE}
        AttributeDefinitions:
          - AttributeName: item_id
            AttributeType: S
          - AttributeName: category
            AttributeType: S
        KeySchema:
          - AttributeName: item_id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: category-index
            KeySchema:
              - AttributeName: category
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    # S3 Bucket para imágenes del menú
    MenuImagesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.MENU_IMAGES_BUCKET}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: false
          BlockPublicPolicy: false
          IgnorePublicAcls: false
          RestrictPublicBuckets: false
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders:
                - "*"
              AllowedMethods:
                - GET
                - PUT
                - POST
                - HEAD
              AllowedOrigins:
                - "*"
              MaxAge: 3000

    MenuImagesBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref MenuImagesBucket
        PolicyDocument:
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action:
                - s3:GetObject
              Resource: !Sub 
                - "arn:aws:s3:::${BucketName}/*"
                - BucketName: !Ref MenuImagesBucket

    # Event Bus personalizado
    CustomEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:service}-${sls:stage}-event-bus

    # EventBridge Rule para capturar eventos de pedidos y workflow
    OrderEventsRule:
      Type: AWS::Events::Rule
      Properties:
        EventBusName: !Ref CustomEventBus
        EventPattern:
          source:
            - orders.service
            - workflow.service
          detail-type:
            - OrderCreated
            - OrderUpdated
            - OrderConfirmed
            - OrderCooking
            - OrderPacking
            - OrderInDelivery
            - OrderDelivered
            - OrderFailed
        State: ENABLED
        Description: Captura todos los eventos relacionados con pedidos y workflow

    # Step Functions State Machine para workflow automatizado
    OrderWorkflowStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: ${self:service}-${sls:stage}-order-workflow
        RoleArn: arn:aws:iam::722204368591:role/LabRole
        DefinitionString: !Sub |
          {
            "Comment": "Workflow automatizado para procesamiento de pedidos",
            "StartAt": "ConfirmOrder",
            "States": {
              "ConfirmOrder": {
                "Type": "Task",
                "Resource": "${ConfirmOrderLambdaFunction.Arn}",
                "ResultPath": "$.confirmResult",
                "TimeoutSeconds": 30,
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "OrderFailed"
                  }
                ],
                "Next": "AssignCook"
              },
              "AssignCook": {
                "Type": "Task",
                "Resource": "${AssignCookLambdaFunction.Arn}",
                "ResultPath": "$.cookResult",
                "TimeoutSeconds": 30,
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "OrderFailed"
                  }
                ],
                "Next": "WaitForCooking"
              },
              "WaitForCooking": {
                "Type": "Wait",
                "Seconds": 300,
                "Comment": "Espera simulada de cocción (5 min)",
                "Next": "CompleteCooking"
              },
              "CompleteCooking": {
                "Type": "Task",
                "Resource": "${CompleteCookingLambdaFunction.Arn}",
                "ResultPath": "$.cookingResult",
                "TimeoutSeconds": 30,
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "OrderFailed"
                  }
                ],
                "Next": "WaitForPacking"
              },
              "WaitForPacking": {
                "Type": "Wait",
                "Seconds": 120,
                "Comment": "Espera simulada de empaquetado (2 min)",
                "Next": "AssignDriver"
              },
              "AssignDriver": {
                "Type": "Task",
                "Resource": "${AssignDriverLambdaFunction.Arn}",
                "ResultPath": "$.driverResult",
                "TimeoutSeconds": 30,
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "OrderFailed"
                  }
                ],
                "Next": "WaitForDelivery"
              },
              "WaitForDelivery": {
                "Type": "Wait",
                "Seconds": 600,
                "Comment": "Espera simulada de entrega (10 min)",
                "Next": "CompleteDelivery"
              },
              "CompleteDelivery": {
                "Type": "Task",
                "Resource": "${CompleteDeliveryLambdaFunction.Arn}",
                "ResultPath": "$.deliveryResult",
                "TimeoutSeconds": 30,
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "OrderFailed"
                  }
                ],
                "End": true
              },
              "OrderFailed": {
                "Type": "Task",
                "Resource": "${HandleOrderFailureLambdaFunction.Arn}",
                "ResultPath": "$.failureResult",
                "End": true
              }
            }
          }

    # Nota: Usamos el rol IAM existente (LabRole) en lugar de crear uno nuevo
    # El rol LabRole debe tener los siguientes permisos:
    # - lambda:InvokeFunction (para las funciones del Step Function)
    # - dynamodb:GetItem, PutItem, UpdateItem, Query (para DynamoDB)
    # - events:PutEvents (para EventBridge)
    # - s3:GetObject, PutObject (para S3)
    # Y debe permitir que Step Functions lo asuma (Trust Relationship con states.amazonaws.com)

  # Outputs - Recursos creados para verificación
outputs:
  # API Gateway
  ApiGatewayRestApiId:
    Description: API Gateway REST API ID
    Value:
      Ref: ApiGatewayRestApi
    Export:
      Name: ${self:service}-${sls:stage}-ApiGatewayId

  ApiGatewayRestApiUrl:
    Description: URL base de la API Gateway
    Value: !Sub "https://${ApiGatewayRestApi}.execute-api.${AWS::Region}.amazonaws.com/${sls:stage}"
    Export:
      Name: ${self:service}-${sls:stage}-ApiGatewayUrl

  # Step Functions
  OrderWorkflowStateMachineArn:
    Description: ARN de la Step Function para workflow de pedidos
    Value: !Ref OrderWorkflowStateMachine
    Export:
      Name: ${self:service}-${sls:stage}-OrderWorkflowArn

  OrderWorkflowStateMachineName:
    Description: Nombre de la Step Function
    Value: !GetAtt OrderWorkflowStateMachine.Name
    Export:
      Name: ${self:service}-${sls:stage}-OrderWorkflowName

  # EventBridge
  CustomEventBusName:
    Description: Nombre del Event Bus personalizado
    Value: !Ref CustomEventBus
    Export:
      Name: ${self:service}-${sls:stage}-EventBusName

  CustomEventBusArn:
    Description: ARN del Event Bus personalizado
    Value: !GetAtt CustomEventBus.Arn
    Export:
      Name: ${self:service}-${sls:stage}-EventBusArn

  # DynamoDB Tables
  OrdersTableName:
    Description: Nombre de la tabla de pedidos
    Value: !Ref OrdersTable
    Export:
      Name: ${self:service}-${sls:stage}-OrdersTable

  WorkflowTableName:
    Description: Nombre de la tabla de workflow
    Value: !Ref WorkflowTable
    Export:
      Name: ${self:service}-${sls:stage}-WorkflowTable

  MenuTableName:
    Description: Nombre de la tabla de menú
    Value: !Ref MenuTable
    Export:
      Name: ${self:service}-${sls:stage}-MenuTable

  UsersTableName:
    Description: Nombre de la tabla de usuarios
    Value: !Ref UsersTable
    Export:
      Name: ${self:service}-${sls:stage}-UsersTable

  # S3
  MenuImagesBucketName:
    Description: Nombre del bucket S3 para imágenes del menú
    Value: !Ref MenuImagesBucket
    Export:
      Name: ${self:service}-${sls:stage}-MenuImagesBucket

  # Lambda Functions (ejemplos principales)
  CreateOrderFunctionName:
    Description: Nombre de la función Lambda createOrder
    Value: !GetAtt CreateOrderLambdaFunction.FunctionName
    Export:
      Name: ${self:service}-${sls:stage}-CreateOrderFunction

  LoginFunctionName:
    Description: Nombre de la función Lambda login
    Value: !GetAtt LoginLambdaFunction.FunctionName
    Export:
      Name: ${self:service}-${sls:stage}-LoginFunction
