serverless.yml
org: m4rant
service: millas-backend

provider:
  name: aws
  runtime: python3.12
  memorySize: 1024
  timeout: 29
  iam:
    role: arn:aws:iam::722204368591:role/LabRole
  environment:
    ORDERS_TABLE: ${sls:stage}-Orders
    WORKFLOW_TABLE: ${sls:stage}-Workflow
    MENU_TABLE: ${sls:stage}-Menu
    USERS_TABLE: ${sls:stage}-Users
    TENANT_ID: 200millas
    MENU_IMAGES_BUCKET: ${self:service}-${sls:stage}-menu-images
    EVENTBRIDGE_BUS: ${self:service}-${sls:stage}-event-bus
    SERVERLESS_SERVICE: ${self:service}
    SERVERLESS_STAGE: ${sls:stage}
    AWS_ACCOUNT_ID: 722204368591

custom:
  pythonRequirements:
    dockerizePip: true
    layer: false

functions:
  # ============================================================================
  # AUTH ENDPOINTS
  # ============================================================================
  login:
    handler: services/auth/handler.login
    events:
      - http:
          path: /auth/login
          method: post
          cors: true
          integration: lambda

  register:
    handler: services/auth/handler.register
    events:
      - http:
          path: /auth/register
          method: post
          cors: true
          integration: lambda

  authorize:
    handler: services/auth/handler.authorize

  logout:
    handler: services/auth/handler.logout
    events:
      - http:
          path: /auth/logout
          method: post
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  # ============================================================================
  # DRIVER ENDPOINTS - READ ONLY + MANUAL CONTROL
  # ============================================================================
  getAvailableOrders:
    handler: services/driver/handler.get_available_orders
    events:
      - http:
          path: /driver/available
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getAssignedOrders:
    handler: services/driver/handler.get_assigned_orders
    events:
      - http:
          path: /driver/assigned
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getOrderDetail:
    handler: services/driver/handler.get_order_detail
    events:
      - http:
          path: /driver/orders/{order_id}
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getDriverStats:
    handler: services/driver/handler.get_driver_stats
    events:
      - http:
          path: /driver/stats
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getDeliveryTimeline:
    handler: services/driver/handler.get_delivery_timeline
    events:
      - http:
          path: /driver/timeline/{order_id}
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  # ============================================================================
  # DRIVER MANUAL CONTROL - NUEVOS ENDPOINTS
  # ============================================================================
  pickupOrder:
    handler: services/driver/manual_operations.pickup_order
    timeout: 30
    events:
      - http:
          path: /driver/pickup/{order_id}
          method: post
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  completeOrder:
    handler: services/driver/manual_operations.complete_order
    timeout: 30
    events:
      - http:
          path: /driver/complete/{order_id}
          method: post
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  cancelPickup:
    handler: services/driver/manual_operations.cancel_pickup
    timeout: 30
    events:
      - http:
          path: /driver/cancel/{order_id}
          method: post
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  # ============================================================================
  # ORDER ENDPOINTS - PARA CLIENTES
  # ============================================================================
  createOrder:
    handler: services/orders/handler.create_order
    events:
      - http:
          path: /orders
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - X-Amz-Date
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: false
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getOrders:
    handler: services/orders/handler.get_orders
    events:
      - http:
          path: /orders
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getOrder:
    handler: services/orders/handler.get_order
    events:
      - http:
          path: /orders/{order_id}
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  # ============================================================================
  # DASHBOARD ENDPOINTS - MONITOREO
  # ============================================================================
  getDashboard:
    handler: services/dashboard/handler.get_dashboard
    events:
      - http:
          path: /dashboard
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getOrderTimeline:
    handler: services/dashboard/handler.get_order_timeline
    events:
      - http:
          path: /dashboard/timeline/{order_id}
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  getStaffPerformance:
    handler: services/dashboard/handler.get_staff_performance
    events:
      - http:
          path: /dashboard/staff-performance
          method: get
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  # ============================================================================
  # MENU ENDPOINTS
  # ============================================================================
  getCategories:
    handler: services/menu/handler.get_categories
    events:
      - http:
          path: /menu/categories
          method: get
          cors: true
          integration: lambda

  getItems:
    handler: services/menu/handler.get_items
    events:
      - http:
          path: /menu/items
          method: get
          cors: true
          integration: lambda

  uploadMenuImage:
    handler: services/menu/upload_image.upload_image
    events:
      - http:
          path: /menu/upload-image
          method: post
          cors: true
          integration: lambda
          authorizer:
            name: authorize
            resultTtlInSeconds: 300
            identitySource: method.request.header.Authorization
            type: token

  # ============================================================================
  # STEP FUNCTIONS HANDLERS - WORKFLOW AUTOMÁTICO HASTA 'ready'
  # ============================================================================
  confirmOrder:
    handler: services/workflow/step_functions_handlers.confirm_order
    timeout: 30

  assignCook:
    handler: services/workflow/step_functions_handlers.assign_cook
    timeout: 30

  completeCooking:
    handler: services/workflow/step_functions_handlers.complete_cooking
    timeout: 30

  handleOrderFailure:
    handler: services/workflow/step_functions_handlers.handle_order_failure
    timeout: 30

resources:
  Resources:
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDERS_TABLE}
        AttributeDefinitions:
          - AttributeName: order_id
            AttributeType: S
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: created_at
            AttributeType: N
          - AttributeName: customer_id
            AttributeType: S
          - AttributeName: status
            AttributeType: S
        KeySchema:
          - AttributeName: order_id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: tenant-created-index
            KeySchema:
              - AttributeName: tenant_id
                KeyType: HASH
              - AttributeName: created_at
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: customer-orders-index
            KeySchema:
              - AttributeName: customer_id
                KeyType: HASH
              - AttributeName: created_at
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: tenant-status-index
            KeySchema:
              - AttributeName: tenant_id
                KeyType: HASH
              - AttributeName: status
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    WorkflowTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.WORKFLOW_TABLE}
        AttributeDefinitions:
          - AttributeName: order_id
            AttributeType: S
        KeySchema:
          - AttributeName: order_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    MenuTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.MENU_TABLE}
        AttributeDefinitions:
          - AttributeName: item_id
            AttributeType: S
          - AttributeName: category
            AttributeType: S
        KeySchema:
          - AttributeName: item_id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: category-index
            KeySchema:
              - AttributeName: category
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    MenuImagesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.MENU_IMAGES_BUCKET}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: false
          BlockPublicPolicy: false
          IgnorePublicAcls: false
          RestrictPublicBuckets: false
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders:
                - "*"
              AllowedMethods:
                - GET
                - PUT
                - POST
                - HEAD
              AllowedOrigins:
                - "*"
              MaxAge: 3000

    MenuImagesBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref MenuImagesBucket
        PolicyDocument:
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action:
                - s3:GetObject
              Resource: !Sub 
                - "arn:aws:s3:::${BucketName}/*"
                - BucketName: !Ref MenuImagesBucket

    CustomEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:service}-${sls:stage}-event-bus

    OrderEventsRule:
      Type: AWS::Events::Rule
      Properties:
        EventBusName: !Ref CustomEventBus
        EventPattern:
          source:
            - orders.service
            - workflow.service
            - driver.service
          detail-type:
            - OrderCreated
            - OrderUpdated
            - OrderConfirmed
            - OrderCooking
            - OrderPacking
            - OrderReady
            - OrderPickedUp
            - OrderInDelivery
            - OrderDelivered
            - OrderPickupCanceled
            - OrderFailed
        State: ENABLED
        Description: Captura todos los eventos relacionados con pedidos y workflow

    # ============================================================================
    # STEP FUNCTIONS - WORKFLOW AUTOMÁTICO HASTA 'ready'
    # Driver continúa manualmente desde 'ready'
    # ============================================================================
    OrderWorkflowStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: ${self:service}-${sls:stage}-order-workflow
        RoleArn: arn:aws:iam::722204368591:role/LabRole
        DefinitionString: !Sub |
          {
            "Comment": "Workflow automatizado hasta ready - Driver continúa manualmente",
            "StartAt": "ConfirmOrder",
            "States": {
              "ConfirmOrder": {
                "Type": "Task",
                "Resource": "${ConfirmOrderLambdaFunction.Arn}",
                "ResultPath": "$.confirmResult",
                "TimeoutSeconds": 30,
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "OrderFailed"
                  }
                ],
                "Next": "AssignCook"
              },
              "AssignCook": {
                "Type": "Task",
                "Resource": "${AssignCookLambdaFunction.Arn}",
                "ResultPath": "$.cookResult",
                "TimeoutSeconds": 30,
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "OrderFailed"
                  }
                ],
                "Next": "WaitForCooking"
              },
              "WaitForCooking": {
                "Type": "Wait",
                "Seconds": 300,
                "Comment": "Espera simulada de cocción (5 min)",
                "Next": "CompleteCooking"
              },
              "CompleteCooking": {
                "Type": "Task",
                "Resource": "${CompleteCookingLambdaFunction.Arn}",
                "ResultPath": "$.cookingResult",
                "TimeoutSeconds": 30,
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error",
                    "Next": "OrderFailed"
                  }
                ],
                "Next": "WaitForDriverPickup"
              },
              "WaitForDriverPickup": {
                "Type": "Wait",
                "Seconds": 7200,
                "Comment": "Espera 2 horas a que un driver tome el pedido manualmente. Pedido queda en estado 'ready' disponible para drivers.",
                "Next": "WorkflowCompleted"
              },
              "WorkflowCompleted": {
                "Type": "Succeed",
                "Comment": "Workflow automático completado en estado 'ready'. Driver debe tomar el pedido usando POST /driver/pickup/{order_id} y completar usando POST /driver/complete/{order_id}"
              },
              "OrderFailed": {
                "Type": "Task",
                "Resource": "${HandleOrderFailureLambdaFunction.Arn}",
                "ResultPath": "$.failureResult",
                "End": true
              }
            }
          }

outputs:
  ApiGatewayRestApiId:
    Description: API Gateway REST API ID
    Value:
      Ref: ApiGatewayRestApi
    Export:
      Name: ${self:service}-${sls:stage}-ApiGatewayId

  ApiGatewayRestApiUrl:
    Description: URL base de la API Gateway
    Value: !Sub "https://${ApiGatewayRestApi}.execute-api.${AWS::Region}.amazonaws.com/${sls:stage}"
    Export:
      Name: ${self:service}-${sls:stage}-ApiGatewayUrl

  OrderWorkflowStateMachineArn:
    Description: ARN de la Step Function para workflow de pedidos
    Value: !Ref OrderWorkflowStateMachine
    Export:
      Name: ${self:service}-${sls:stage}-OrderWorkflowArn

  CustomEventBusName:
    Description: Nombre del Event Bus personalizado
    Value: !Ref CustomEventBus
    Export:
      Name: ${self:service}-${sls:stage}-EventBusName
